<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <% employee.errors.full_messages.each do |message| %>
        <h3><%= message %></h3>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :department_id %>
    <%= form.text_field :department_id %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="form-group">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="actions">
    <%= form.submit 'Save', :class => 'btn btn-primary' %>
  </div>
<% end %>
